<?php

# Define the settings
$settings = array (
	'apiBaseUrl' => 'https://...',
);

# Load and run the Shackleton Online class
require_once ('shackleton-online/shackletonOnline.php');
new shackletonOnline ($settings);

?>
